@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');


@theme {
    --font-openSans: 'Open Sans', sans-serif;
  --color-yellow: #F28B00;
  --color-red: #F92400;
  --color-gray: #484848;
  --color-lightgray: #4E4E4E;
  --color-white: #F5F5F5;
}